openapi: 3.1.0
info:
  title: Zoplio API
  version: 1.0.0
  summary: Schedule meetings through an AI agent that negotiates with every participant.
  description: |
    Zoplio is an AI scheduling agent. You create a meeting with who and roughly
    when; Zoplio reaches out to every participant (WhatsApp/email), negotiates a
    time everyone can make, and confirms it. This API is asynchronous by
    design: `POST /v1/meetings` returns immediately with
    `status: negotiating`; track progress by polling `GET /v1/meetings/{id}`
    or by subscribing to webhooks.

    ## Roles
    The account that owns the API key is the organizer. `participants` are
    the people Zoplio invites. To arrange a meeting for someone else, set
    `organizer`.

    You are a Zoplio user like anyone on WhatsApp: a meeting you create runs
    on your calendar, in your timezone and working hours, Zoplio tells you
    when the invitees answer, and it counts against your plan. Every entry of
    `participants` (1-8) is invited; one is enough. Listing your own number
    or e-mail as a participant is rejected with `400`. `organizer` is the
    optional on-behalf mode (an agency booking for a client): that person is
    then the organizer, every participant is still invited, and the meeting
    still bills to your account.

    ## Authentication
    Every `/v1` route requires
    `Authorization: Bearer zpl_<hex>`. Invalid or unknown keys get `401`;
    recognised but expired/inactive keys get `403` (error code stays
    `unauthorized`). If the auth backend is unavailable the API answers `503`
    (`upstream_error`): an outage never reads as "your key is bad".

    ## Rate limiting
    60 requests/min per API key (sliding window). Authenticated responses
    carry `X-RateLimit-Limit` and `X-RateLimit-Remaining`; exceeding the
    window returns `429` with code `rate_limited`. Rejected requests still
    count toward the window. A shared per-IP ceiling of 300 requests/min
    applies across all keys, and the sign-in and key-provisioning routes
    allow 15 requests/min per IP.

    ## Errors
    Every non-2xx response uses one envelope:
    `{"error": {"code", "message", "details"?}}` with `code` one of
    `unauthorized`, `rate_limited`, `validation_failed`, `not_found`,
    `conflict`, `quota_exceeded`, `upstream_error`. `validation_failed` adds
    `details: [{"field", "message"}]`.

    ## Plans & quotas
    Free plan: 3 confirmed meetings and 15 meeting requests per calendar
    month (UTC). Meetings still being arranged count against the 3 until they
    confirm or fall through. `402` with code `quota_exceeded` when a limit is
    reached; the `message` says which one. `paid` and `vip` plans are
    uncapped.

    ## Idempotency
    `POST /v1/meetings` accepts an `X-Idempotency-Key` header (1-128 chars).
    Replaying the same key returns the originally created meeting (with its
    current, possibly already-confirmed status) instead of creating a
    duplicate.

    `POST /v1/meetings/{id}/reschedule` accepts the same header. Replaying a
    key returns the original proposal instead of opening another negotiation
    round; send a new key when you genuinely want to move the meeting again.
    Rescheduling without a key is not safe to retry blindly - every call
    consumes a negotiation round, and exhausting the round limit cancels the
    meeting.
  contact:
    name: Zoplio
    url: https://zoplio.com

servers:
  - url: https://api.zoplio.com
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Meetings
    description: Create, inspect, reschedule and cancel agent-negotiated meetings
  - name: Webhooks
    description: Subscriptions for meeting lifecycle events
  - name: Developer
    description: Dev-environment provisioning and service health

paths:
  /health:
    get:
      tags: [Developer]
      summary: Service health
      security: []
      responses:
        "200":
          description: Gateway is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: ok
                  service:
                    type: string
                    const: api-gateway

  /v1/meetings:
    post:
      tags: [Meetings]
      summary: Create a meeting and start negotiation
      operationId: scheduleMeeting
      description: |
        Roles: the account that owns the API key is the organizer.
        `participants` are the people Zoplio invites (one is enough). To
        arrange a meeting for someone else, set `organizer`: that person is
        then the organizer (their calendar and timezone; they are not
        invited, Zoplio tells them the meeting is being arranged and again
        when it confirms) and every participant is invited. A participant
        equal to your own number or e-mail (or, on behalf, the organizer's)
        is rejected with `400` (`validation_failed`).

        Scheduling modes, picked by which date fields you send:
        - Exact: `preferredDate` + `preferredTime` (+ `timezone`).
          Participants get a yes/no for that one slot.
        - Day: `preferredDate` only. Participants get the organizer's free
          slots on that day (a weekend is honoured when you name one).
        - Range: `earliestDate` + `latestDate`. Zoplio proposes free
          working-day slots across the window.
        - Open ask: `openAsk: true` (+ `earliestDate`/`latestDate` as the
          window). Zoplio asks each participant what time suits them instead
          of proposing slots.

        With no date fields at all, Zoplio looks at the seven days from
        tomorrow and, with a free calendar, proposes one slot per working
        day at the start of the organizer's working hours (09:00 unless they
        set otherwise; weekends excluded). Slots are shown to each invitee in
        their own timezone, so a 09:00 Prague slot reads as 03:00 in New
        York. Prefer `earliestDate`/`latestDate` on working days unless the
        user asks for weekends.

        Always send `timezone` with `preferredTime`. Without it Zoplio reads
        the time in the organizer's stored timezone: your account's zone
        (a WhatsApp account's phone country zone, or the browser zone
        captured at dashboard sign-in; UTC for an account Zoplio has only
        seen by e-mail, such as a dev-provisioned key), or for an on-behalf
        `organizer` the phone's country zone for a phone contact and UTC for
        an e-mail contact.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMeetingRequest"
      responses:
        "201":
          description: Meeting created; Zoplio is contacting participants
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMeetingResult"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/QuotaExceeded"
        "403":
          $ref: "#/components/responses/KeyExpired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/AuthUnavailable"
    get:
      tags: [Meetings]
      summary: List meetings you created with this key
      operationId: listMeetings
      description: Newest first. Returns the meetings you created with this key, on-behalf ones included.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/MeetingStatus"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        "200":
          description: Meetings you created with this key
          content:
            application/json:
              schema:
                type: object
                required: [meetings]
                properties:
                  meetings:
                    type: array
                    items:
                      $ref: "#/components/schemas/MeetingSummary"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /v1/meetings/{id}:
    get:
      tags: [Meetings]
      summary: Get one meeting
      operationId: getMeeting
      parameters:
        - $ref: "#/components/parameters/MeetingId"
      responses:
        "200":
          description: Meeting detail with per-participant status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeetingDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /v1/meetings/{id}/cancel:
    post:
      tags: [Meetings]
      summary: Cancel a meeting
      operationId: cancelMeeting
      description: Idempotent. Cancelling an already-cancelled meeting returns `cancelled` again.
      parameters:
        - $ref: "#/components/parameters/MeetingId"
      responses:
        "200":
          description: Meeting cancelled
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: cancelled
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /v1/meetings/{id}/reschedule:
    post:
      tags: [Meetings]
      summary: Reschedule a meeting to an exact date+time
      operationId: rescheduleMeeting
      description: |
        Proposes exactly the requested slot to all participants and starts a
        new negotiation round. `409` (`conflict`) means the requested time
        collides with a participant's availability, no slot is available at
        that time, or the negotiation state does not allow re-proposing.
      parameters:
        - $ref: "#/components/parameters/MeetingId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferredDate, preferredTime]
              properties:
                preferredDate:
                  type: string
                  format: date
                  description: YYYY-MM-DD
                preferredTime:
                  type: string
                  pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
                  description: HH:MM, 24-hour
                timezone:
                  type: string
                  description: IANA timezone the date/time are expressed in (e.g. Europe/Prague). Always send it; without it the time is read in a stored timezone rather than yours.
      responses:
        "200":
          description: New slot proposed to participants
          content:
            application/json:
              schema:
                type: object
                required: [meetingId, status, proposedSlots]
                properties:
                  meetingId:
                    type: string
                  status:
                    type: string
                    const: negotiating
                  proposedSlots:
                    type: array
                    items:
                      $ref: "#/components/schemas/Slot"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >-
            Requested time conflicts with a participant or the negotiation
            state, or the negotiation ran out of rounds - in that case the
            meeting has been cancelled and every participant notified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /v1/webhooks:
    post:
      tags: [Webhooks]
      summary: Create a webhook subscription
      operationId: createWebhook
      description: |
        Subscribes a public https URL to meeting lifecycle events. The host
        is DNS-resolved and validated at subscribe time: `http` URLs, hosts
        that do not resolve, and hosts resolving to private/internal
        addresses are rejected (`validation_failed`), so a placeholder such
        as `https://your.app/...` fails until it points at a live public
        host. The returned `whsec_` secret is shown exactly once. Store it
        to verify delivery signatures.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  description: Public https URL. The host is DNS-resolved and validated at subscribe time
                events:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/WebhookEvent"
                  description: Defaults to all five events when omitted
      responses:
        "201":
          description: Subscription created
          content:
            application/json:
              schema:
                type: object
                required: [id, url, events, secret]
                properties:
                  id:
                    type: string
                  url:
                    type: string
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookEvent"
                  secret:
                    type: string
                    description: whsec_ signing secret, returned only here
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      operationId: listWebhooks
      description: Secrets are never included.
      responses:
        "200":
          description: The key's user's subscriptions
          content:
            application/json:
              schema:
                type: object
                required: [webhooks]
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /v1/webhooks/{id}:
    delete:
      tags: [Webhooks]
      summary: Delete a webhook subscription
      operationId: deleteWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subscription deleted
          content:
            application/json:
              schema:
                type: object
                required: [deleted]
                properties:
                  deleted:
                    type: boolean
                    const: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"

# Outbound deliveries Zoplio POSTs to subscribed URLs.
webhooks:
  meeting.created:
    post:
      tags: [Webhooks]
      summary: A meeting was created
      description: |
        Sent when a meeting is created (negotiation starting). All deliveries
        carry `X-Zoplio-Event` (the event name) and `X-Zoplio-Signature`
        (HMAC-SHA256 of the raw request body with your subscription's
        `whsec_` secret, hex-encoded). Verify by recomputing over the RAW
        bytes before parsing. Respond 2xx within 10 seconds; failures are
        retried up to 2 more times (3 attempts total) with 1m/5m backoff,
        and the subscription is disabled after 10 consecutive failures.
      parameters:
        - $ref: "#/components/parameters/ZoplioEventHeader"
        - $ref: "#/components/parameters/ZoplioSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDelivery"
      responses:
        "200":
          description: Acknowledge the delivery with any 2xx
  meeting.confirmed:
    post:
      tags: [Webhooks]
      summary: All participants accepted, meeting confirmed
      description: Same headers, signature and retry semantics as meeting.created. The payload includes `confirmedSlot`.
      parameters:
        - $ref: "#/components/parameters/ZoplioEventHeader"
        - $ref: "#/components/parameters/ZoplioSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDelivery"
      responses:
        "200":
          description: Acknowledge the delivery with any 2xx
  meeting.cancelled:
    post:
      tags: [Webhooks]
      summary: A meeting was cancelled
      description: Same headers, signature and retry semantics as meeting.created.
      parameters:
        - $ref: "#/components/parameters/ZoplioEventHeader"
        - $ref: "#/components/parameters/ZoplioSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDelivery"
      responses:
        "200":
          description: Acknowledge the delivery with any 2xx
  meeting.rescheduled:
    post:
      tags: [Webhooks]
      summary: A confirmed meeting was un-confirmed to move to a new time
      description: |
        Sent the moment a confirmed meeting is re-opened for rescheduling:
        its previous slot is no longer valid, and a new `meeting.confirmed`
        (or `meeting.cancelled` / `negotiation.failed`) will follow when the
        renegotiation resolves. The payload carries `previousSlot` (the slot
        the meeting left); `confirmedSlot` is absent until the re-confirm.
        Same headers, signature and retry semantics as meeting.created.
      parameters:
        - $ref: "#/components/parameters/ZoplioEventHeader"
        - $ref: "#/components/parameters/ZoplioSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDelivery"
      responses:
        "200":
          description: Acknowledge the delivery with any 2xx
  negotiation.failed:
    post:
      tags: [Webhooks]
      summary: Negotiation failed, no slot could be agreed
      description: Same headers, signature and retry semantics as meeting.created.
      parameters:
        - $ref: "#/components/parameters/ZoplioEventHeader"
        - $ref: "#/components/parameters/ZoplioSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookDelivery"
      responses:
        "200":
          description: Acknowledge the delivery with any 2xx

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key with prefix zpl_ (Authorization: Bearer zpl_<hex>)"

  parameters:
    MeetingId:
      name: id
      in: path
      required: true
      description: Meeting id as returned by POST /v1/meetings
      schema:
        type: string
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: false
      description: >-
        1-128 chars. On create, replaying the same key returns the originally
        created meeting. On reschedule, it returns the original proposal
        instead of opening another negotiation round.
      schema:
        type: string
        minLength: 1
        maxLength: 128
    ZoplioEventHeader:
      name: X-Zoplio-Event
      in: header
      required: true
      description: The event name, identical to `event` in the body
      schema:
        $ref: "#/components/schemas/WebhookEvent"
    ZoplioSignatureHeader:
      name: X-Zoplio-Signature
      in: header
      required: true
      description: Hex HMAC-SHA256 of the raw request body, keyed with the subscription's whsec_ secret
      schema:
        type: string
        pattern: "^[0-9a-f]{64}$"

  headers:
    X-RateLimit-Limit:
      description: Requests allowed per minute for this API key
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Requests remaining in the current window
      schema:
        type: integer

  responses:
    ValidationFailed:
      description: Request failed validation (code `validation_failed`, with per-field `details`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing/invalid API key (code `unauthorized`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    KeyExpired:
      description: API key recognised but expired/inactive (code stays `unauthorized`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource missing or not owned by the key's user (code `not_found`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Over 60 requests/min for this key, or over the shared per-IP ceiling (code `rate_limited`)
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    QuotaExceeded:
      description: A free-plan limit was reached this calendar month (code `quota_exceeded`); `message` says whether it is the 3 confirmed meetings or the 15 meeting requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UpstreamError:
      description: An internal upstream service failed (code `upstream_error`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    AuthUnavailable:
      description: Auth backend unavailable. Retry; your key is not necessarily bad (code `upstream_error`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - unauthorized
                - rate_limited
                - validation_failed
                - not_found
                - conflict
                - quota_exceeded
                - upstream_error
            message:
              type: string
            details:
              type: array
              description: Present on validation_failed
              items:
                type: object
                required: [field, message]
                properties:
                  field:
                    type: string
                  message:
                    type: string

    MeetingStatus:
      type: string
      enum: [draft, negotiating, confirmed, cancelled, rescheduling]

    WebhookEvent:
      type: string
      enum: [meeting.created, meeting.confirmed, meeting.cancelled, meeting.rescheduled, negotiation.failed]

    Slot:
      type: object
      required: [start, end]
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time

    ParticipantInput:
      type: object
      description: Each participant needs a phone or an email
      properties:
        phone:
          type: string
          pattern: "^\\+[1-9][0-9]{6,14}$"
          description: E.164, e.g. +420777123456
        email:
          type: string
          format: email
        name:
          type: string
          maxLength: 200

    CreateMeetingRequest:
      type: object
      description: >-
        Who to invite (`participants`) and roughly when. The account that
        owns the API key is the organizer; set `organizer` only to arrange a
        meeting for someone else. See the POST /v1/meetings description for
        the scheduling modes and the no-date default.
      required: [participants]
      properties:
        title:
          type: string
          maxLength: 300
          description: Defaults to "Meeting"
        durationMinutes:
          type: integer
          minimum: 5
          maximum: 1440
          default: 30
        organizer:
          $ref: "#/components/schemas/ParticipantInput"
          description: >-
            On-behalf mode: the person the meeting is for when it is not you.
            Zoplio uses their calendar and timezone, does not invite them and
            tells them the meeting is being arranged. When omitted, you (the
            account that owns the API key) are the organizer.
        participants:
          type: array
          minItems: 1
          maxItems: 8
          items:
            $ref: "#/components/schemas/ParticipantInput"
          description: >-
            The people Zoplio invites (1-8); one is enough. Your own number
            or e-mail is rejected here with `400`.
        preferredDate:
          type: string
          format: date
          description: YYYY-MM-DD. Required when preferredTime is set.
        preferredTime:
          type: string
          pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
          description: HH:MM, 24-hour
        timezone:
          type: string
          description: >-
            IANA timezone the preferred date/time are expressed in (e.g.
            Europe/Prague). Always send it with preferredTime; without it the
            time is read in the organizer's stored timezone (your account's
            zone, which is UTC for an account Zoplio has only seen by e-mail;
            for an on-behalf organizer the phone's country zone or UTC for an
            e-mail contact).
        earliestDate:
          type: string
          format: date
          description: YYYY-MM-DD. Start of the window for range and open-ask scheduling.
        latestDate:
          type: string
          format: date
          description: YYYY-MM-DD. End of the window for range and open-ask scheduling.
        openAsk:
          type: boolean
          description: Ask participants for their availability instead of proposing slots
        location:
          type: string
          maxLength: 500
          description: Omitting it makes the meeting virtual
        organizerAttending:
          type: boolean
          description: >-
            Set false when the organizer (you, or the on-behalf `organizer`)
            only arranges the meeting and will not attend; the invitees then
            meet among themselves, so list at least two of them.

    CreateMeetingResult:
      type: object
      required: [meetingId, negotiationId, status, proposedSlots]
      properties:
        meetingId:
          type: string
        negotiationId:
          type: string
        status:
          $ref: "#/components/schemas/MeetingStatus"
          description: negotiating on fresh creates; idempotent replays return the meeting's current status
        proposedSlots:
          type: array
          items:
            $ref: "#/components/schemas/Slot"

    MeetingParticipant:
      type: object
      required: [status, attending, role]
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        status:
          type: string
          description: pending, accepted, declined, counter-proposed, ...
        attending:
          type: boolean
        role:
          type: string
          enum: [organizer, participant]
          description: >-
            `organizer` is the person the meeting is for (you, or the
            on-behalf `organizer`); `participant` is an invitee.

    MeetingDetail:
      type: object
      required: [id, title, status, participants]
      properties:
        id:
          type: string
        title:
          type: string
        status:
          $ref: "#/components/schemas/MeetingStatus"
        confirmedSlot:
          $ref: "#/components/schemas/Slot"
        participants:
          type: array
          items:
            $ref: "#/components/schemas/MeetingParticipant"

    MeetingSummary:
      type: object
      required: [id, title, status]
      properties:
        id:
          type: string
        title:
          type: string
        status:
          $ref: "#/components/schemas/MeetingStatus"
        confirmedSlot:
          $ref: "#/components/schemas/Slot"
        createdAt:
          type: string
          format: date-time

    WebhookSummary:
      type: object
      required: [id, url, events, active]
      properties:
        id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEvent"
        active:
          type: boolean
          description: Subscriptions are disabled automatically after 10 consecutive delivery failures
        createdAt:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      required: [event, payload, timestamp]
      properties:
        event:
          $ref: "#/components/schemas/WebhookEvent"
        payload:
          type: object
          properties:
            meetingId:
              type: string
            organizerUserId:
              type: string
            billingAccountId:
              type: string
              description: The account that owns the API key; equals organizerUserId unless the meeting was arranged on behalf of someone else
            title:
              type: string
            negotiationId:
              type: string
              description: Present on confirmed/cancelled/failed events
            participantEmails:
              type: array
              items:
                type: string
              description: Present on confirmed/cancelled/failed events
            confirmedSlot:
              $ref: "#/components/schemas/Slot"
              description: Present on meeting.confirmed
            previousSlot:
              $ref: "#/components/schemas/Slot"
              description: Present on meeting.rescheduled (the slot the meeting left)
        timestamp:
          type: string
          format: date-time
          description: Delivery timestamp (fresh per attempt)
